h2,
p {
  margin: 0;
  padding: 0;
}

.size__modal {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 68px;
  right: 64px;
  padding: 10px;
  gap: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.88);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0);

  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  p {
    font-size: 12px;
    transform: translateY(0);
    color: black;
    transition: transform 0.15s ease-in-out, color 0.15s ease-in-out,
      font-weight 0.15s ease-in-out;

    &:hover {
      transform: translateY(-2px);
      color: #4ccf63;
      font-weight: bold;
    }
  }
}

.size__module__show {
  visibility: visible;
  opacity: 1;
  transform: translateY(100%);
}
